
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

body {
	background-color: #FDE2E4;
	color: black;
	text-align: center;
	font-size: 17px;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}

h1{
	color: #CDDAFD;
	font-size: 32px; 
}

h2{
	color: #BEE1E6;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: black;
}

.container {
	width :75%;
	padding: 24px;
	margin: 24px auto;
	background-color: white;
	border: none;
	border-radius: 7px;
	box-shadow: 5px 4px 2px 2px #BEE1E6;
}

.button-blue {
	background-color: #FAD2E1;
	color: white;
	font-weight: bold;
	padding: 16px;
	border-radius: 6px;
	border: 1px #FAD2E1 solid;
	margin: 24px auto;
	display: block;
	width: 50%;
	text-decoration: none;
 	transition: color 0.3s ease;
}

.button-blue:hover {
  background-color: lightpink;
  text-decoration: none;
}

img {
	border-radius: 100%;
	box-shadow: 5px 4px 2px 2px #FDE2E4;
}

ul {
	list-style-type: none;
	padding: 0px;
}

.list-inline {
	font-size: 50px;
	text-decoration: none;
	transition: color 0.3s ease
}

#Logo-Twitter { 
	color: #E2EAFC;
}

#Logo-Twitter:hover{
	color: #BEE1E6;
  text-decoration: none;
}

#Logo-Linkedin {
	color : #C1D3FE;
}
#Logo-Linkedin:hover{
	color: #BEE1E6;
  text-decoration: none;
}
#Logo-Insta { 
	color: #ABC4FF;
}
#Logo-Insta:hover{
	color: #BEE1E6;
  text-decoration: none;
}

.MotsImportants {
	color: #CDDAFD;
}

#Reseaux {
		height: 300px; 
		width: 300px; 
		background-color: white;
		border: none;
		border-radius: 50%; 
}

#Langues {
	display: flex;
	border: none;
	box-shadow: none;
}

#Langues .item {
	margin: 0 16px;
	background-color: white;
	border: none;
	border-radius: 7px;
	box-shadow: 1px 1px 7px 5px #FDE2E4;
	width :75%;
	padding: 24px;
}
