body {
	background-color: #F7F9FC;
	color: #575F7D;
	text-align: center;
	font-size: 17px;
	font-weight: lighter;
	font-family: 'Lora', serif;
}
h1{
	color: #575F7D;
	font-size: 32px; 
}
h2{
	color: #7ECE90;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: black;
}
div{
	width :75%;
	padding: 24px;
	margin: 24px auto;
	background-color: white;
	border: solid 1px black;
	border-radius: 7px;
	box-shadow: 5px 4px 2px 2px #c1b3b3;
}

.button-blue {
	background-color: blue;
	color: white;
	font-weight: bold;
	padding: 16px;
	border-radius: 6px;
	border: 1px blue solid;
	margin: 24px auto;
	display: block;
	width: 50%;
	transition: 1s;

element.style {
    font-size: 50px;
}

#list-inline li {
	display: inline;
}